.datebar{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 2.2em;
}

.dateinput {
  text-align: center;
  flex-grow: 1;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.datebarstring {
  display: flex;
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: red;
  align-items: center;
  justify-content: center;
}
