.prefs {
  display: flex;
  flex-direction: column;
}

.prefslink {
  flex-grow: 1;
  color: #0000FF;
  text-decoration: underline;
  padding-left: 10px;
  padding-top: 10px;
}

.prefsinfo {
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 10px;
}
