.recordinput {
  display: flex;
  flex-direction: column;
  /*flex-grow: 1;
  flex-shrink: 0; */
  min-width: 40%;
  max-height: 98vh;
}

.savebuttonenabled {
  color: white;
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
}
.savebuttondisabled {
  color: #888888;
  background: #CCCCCC;
}

.savebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  min-height: 2em;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1.8em;
  font-weight: bold;
}
