/* From https://purecss.io/grids/, allows padding and borders without breaking layout */
/*
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

.dbg {
  border: 1px solid red;
}

html,body {
  font-family: sans-serif;
  font-size: 1em;
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
  display: flex;
}

input {
  font-family: sans-serif;
  font-size: 1em;
}

select {
  font-family: sans-serif;
  font-size: 1em;
}

option {
  font-family: sans-serif;
  font-size: 1em;
}

div {
  user-select: none;
}