.tabgroup {
  overflow-y: scroll;
}

.tabgroupgood {
  color: green;
  font-weight: bold;
}
.tabgroupmeh {
  color: black;
}
.tabgroupbad {
  color: red;
}

.tabgroupname {
  text-align: right;
  padding-right: 10px;
}
.tabgroupnamepill {
  border: 1px solid darkgray;
  border-radius: 2px;
}

.tabgroupdate {
  text-align: right;
}

.tabgroupdead {
  text-align: right;
}

.tabgroupperc {
  text-align: right;
  padding-right: 2px;
}
