.weightdatebar{
  display: flex;
  flex-direction: row;
  /*align-items: center; */
  justify-content: center;
  min-height: 140px; /* not sure why this has to be here */
  max-height: 250px;
  overflow-y: scroll;
}

.weightdatebarinputcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  padding-bottom: 3px;
}

.weightdatebarright {
  display: flex;
  flex-direction: column;
}
.weightdatebarleft {
  display: flex;
  flex-direction: column;
}

.weightdatebarcardtitle {
  font-weight: bold;
  font-size: 1em;
}

.weightdatebarcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  padding-bottom: 3px;
}

.weightdatebarcardinner {
  display: flex;
  flex-direction: row;
}


.weightdatebarinput {
  text-align: center;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.weightdatebarfilter {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 2.2em;
  padding-left: 5px;
  padding-right: 5px;
}

.weightdatebarinput{
  text-align: center;
  font-weight: bold;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.weightdatebarstatstable {
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

th {
  border: 1px solid;
  padding: 5px;
}
td {
  border: 1px solid;
  padding: 5px;
}
